body {
	font-family: sans-serif;
}

h1 {
	font-size: 24px;
	margin-bottom: 20px;
}

select, input[type="text"] {
	margin-bottom: 10px;
	padding: 5px;
	font-size: 16px;
}

label {
	font-weight: bold;
	margin-right: 10px;
}

ul {
	list-style: none;
	padding: 0;
}

li {
	padding: 10px;
	border: 1px solid #ccc;
	margin-bottom: 10px;
}

mark {
	background-color: yellow;
	font-weight: bold;
	color: black;
}

.form-row {
	display: flex;
	align-items: center;
}

.form-row > * {
	margin-right: 10px;
}

.form-row > *:last-child {
	margin-right: 0;
}
.form-group {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
  }
  
  .form-group > label {
	margin-right: 10px;
  }
  
  .form-group > select {
	flex: 1;
	margin-bottom: 10px;
	font-size: 16px;
  }
