body {
	font-family: sans-serif;
	background-color: #f8f8f8;
}  

h1 {
	font-size: 36px;
	font-weight: bold;
	text-align: center;
	color: #333333;
	margin-bottom: 20px;
	text-transform: uppercase;
	letter-spacing: 2px;
}

.page-title{
	margin-top: -35px;
}

input[type="file"] {
	display: none;
}
	
.custom-file-upload {
	border: 1px solid #ccc;
	display: inline-block;
	padding: 6px 12px;
	cursor: pointer;
	background-color: #0529b7;
	color: white;
	font-weight: bold;
}
.custom-file-upload:hover {
	background-color: #050c74;
}
.custom-file-upload:active {
	background-color: #050c74;
}
.custom-file-upload:focus {
	outline: none;
	box-shadow: none;
}

.file-size {
	font-size: 15px;
	font-weight: bold;
	color: #555;
	border: 2px solid #555;
	padding: 6px 10px;
	border-radius: 4px;
	background-color: #f5f5f5;
	display: inline-block;
  }
  


input[type="text"], select {
	margin-bottom: 10px;
	padding: 10px;
	font-size: 16px;
	border: 1px solid #ccc;
	border-radius: 5px;
	color: black;
}
input[type="text"]:hover {
    box-shadow: 0 0 5px #0099ff;
}
input[type="text"]:focus, select:focus {
	box-shadow: 0 0 5px #0099ff;
}  

label {
	font-weight: bold;
	margin-right: 10px;
}

ul {
	list-style: none;
	padding: 0;
}

li {
	padding: 10px;
	border: 1px solid #ccc;
	margin-bottom: 10px;
	background-color: #fff;
}

button {
	background-color: #0099ff;
	color: #fff;
	border: none;
	padding: 10px 20px;
	border-radius: 5px;
	font-size: 16px;
	cursor: pointer;
}  

button:hover {
	background-color: #0077cc;
}

mark {
	background-color: #ffeaa7;
	font-weight: bold;
	color: black;
}  

.form-row {
	display: flex;
	align-items: center;
}

.form-row > * {
	margin-right: 20px;
}

.form-row > *:last-child {
	margin-right: 0;
}

.form-group {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
}

.form-group > label {
	margin-right: 10px;
}

.form-group > * {
	margin-right: 20px;
}

.form-group > select {
	flex: 1;
	margin-bottom: 10px;
	font-size: 16px;
}

.highlight {
	background-color: yellow;
}

/* style every other row */
li:nth-child(even) {
	background-color: #cccccc;
}
