.header {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #eaeaea;
    height: 80px;
    position: sticky;
    top: 0;
    z-index: 999;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  }
  
  .header-logo {
    font-size: 2rem;
    font-weight: bold;
    color: #fff;
    text-transform: uppercase;
    text-decoration: none;
    transition: transform 0.2s ease-in-out;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .header-logo:hover {
    transform: scale(1.1);
  }
  
  
  .logo-text {
    margin-left: 0.5rem;
  }
  
  .header-menu {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
    list-style: none;
    outline: none;
  }
  
  .header-item {
    margin: 0 1.5rem;
  }
  
  .header-link {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #ffffff;
    font-size: 1.1rem;
    font-weight: 600;
    text-decoration: none;
    border: none;
    cursor: pointer;
    outline: none;
  }
  
  .header-link:hover {
    color: #ffffff;
  }
  
  .menu-text {
    margin-left: 0.5rem;
  }
